<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div{
            height: 250px;
            width: 250px;
            background-color: turquoise;
            margin: 317px;
        }
        input{
            margin-bottom: 10px;
            margin-left: 35px;
    
            border-radius: 60px;
        }
        button{
            margin-left: 85px;
            margin-bottom: 30px;
            width: 78px;
        }
        body{
            background-color: yellowgreen;
        }
    </style>
</head>
<body>
    <form action="./1.HTML" method="GET">
        <div>
            <label for="name">name</label>
            <input type="text" id="name">
            <label for="pass">password</label>
            <input type="password" id="pass">
            <button>log in</button>
        </form>
            <form action="./BATCH INFORMATION.HTML" method="GET">
            <button>new user</button>
        </form>
        </div>
    
</body>
</html>