<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>SHARANSIDDESH.B</h1>
    <h3>phone:897190372</h3>
    <h3>email:sharansiddesh99@gmail.com</h3>
    <br>
    <u><h3>Career Objective:</h3></u>
    <p >Play a role in an organization that enhances my skills and capabilities in a progressive and technology driven company.</p>
    <u><h3 >Educational Qualification:</h3></u>
    <table border="2">
        <thead>
            <tr>
                <th>QULIFICATIONS</th>
                <th>UNIVERSITY</th>
                <th>COLLEGE NAME</th>
                <th>YEAR OF PASS OUT</th>
                <th>PERCENTAGE</th>
            </tr>
        </thead>
        <tbody>
            <TR>
                <TD>BE</TD>
                <TD>VTU</TD>
                <TD>ACHARYA INSTITUTE OF TECHANOLOGY</TD>
                <TD>2020</TD>
                <TD>6.4 CGPA</TD>
            </TR>
            <TR>
                <TD>DIPLOMA</TD>
                <TD>DTE</TD>
                <TD>SSPT TIPTUR</TD>
                <TD>2016</TD>
                <TD>68%</TD>
            </TR>
            <TR>
                <TD>SSLC</TD>
                <TD>KSSEB</TD>
                <TD>PRIYA ENGLISH SCHOOL</TD>
                <TD>2013</TD>
                <TD>62%</TD>
            </TR>
        </tbody>
    </table>
    <u><h3 >ACADEMIC PROJECTS:</h3></u>
    <ol>
        <li>Title: Automatic Feeder Control System In Power Utilities</li>
        <br>
        <li>Title: IOT BASED SMART AGRICULTURE</li>
    </ol>
    <u><h3>STRENGTH</h3></u>
    <ul>
        <li>Planning and Management</li>
        <li>Team Worker</li>
    </ul>
    <u><h3>HOBBIES AND INTERESTS</h3></u>
    <ul>
        <li>Cricket</li>
        <li>Watching  Movies</li>
    </ul>
    <u><h3>PERSONAL PROFILE</h3></u>
    <pre>Name	                :           Sharansiddesh B</pre>
    <pre>Father’s Name	        :           Basavaraju T.S</pre>
    <pre>Mother’s Name	        :           Shashikala L</pre>
    <pre>Address	            :           Siddarameshwara Nilaya 2nd Cross 1st  Main Road Mysore Rood Nittur @Post Gubbi Tulk Tumkur Dist </pre>
    <pre>Gender	                :           Male</pre>
    <pre>Date of birth	        :           20th November 1996</pre>
    <pre>Language Proficiency	:           Kannada, English</pre>
    <u><h3> DECLARATION</h3></u>
    <pre>I hereby declare that all the information mentioned above is true to the best of my knowledge.</pre>
    <br>
    <br>
    <pre>Date:                                                                                      Yours Faithfully </pre>
    <pre>Place: Bengaluru                                                                            sharansiddesh B</pre>                
    
    <pre>Reach me in </pre>
    <a href="https://www.facebook.com" target="blank">sharansiddesh</a>
</body>
</html>